.body {
    width: 100%;
    height: 100%;
    background: #FFF;
  }
  
  /* PC画面の幅に合わせてページを固定するスタイル */
  @media screen and (max-width: 1440px) {
    .body {
      width: 100%;
      height: 100%;
      max-width: 1440px;
      margin: 0 auto;
    }
  }
  
  /* 画面上部 */
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #000000;
    padding: 0 20px;
  }
  
  /* アプリロゴをもっと左に寄せて大きさ65%ぐらいに */
  .top img {
    /*width: 65%;
    margin-left: -20px;*/
    position: fixed;
    top: 10px;
    left: 0;
    pointer-events:none;
    user-select: none;
    z-index: 1;
  }
  
  /* 画面左部 */
  .left {
    width: 209px;
    height: 580px;
    flex-shrink: 0;
    position: absolute;
    left: 0;
  }
  
  /* テンプレート */
  .left .dropdown {
    width: 209px;
    height: 50px;
    flex-shrink: 0;
    background-color: #EFEFEF;
  }
  
  /* メモ、テンプレートとの間に5px余白をつける */
  .left .memo {
    top: 2vh;
    width: 209px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
    background-color: #EFEFEF;
    z-index: 99;
  }
  /*メンバー*/
  .member{
    top: 29vh;
    width: 209px;
    height: 240px;
    flex-shrink: 0;
    position: absolute;
    background-color: #EFEFEF;
  }
  /*退出*/
  .exit{
    top: 505px;
    width: 209px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    background-color: #ff0000;
  }
  /*ボタンをexitの幅に合わせて透明化*/
    .exit button{
        width: 209px;
        height: 35px;
        background-color: transparent;
    }

  /*タイマー*/
    .timer{
        top: 545px;
        width: 209px;
        height: 35px;
        flex-shrink: 0;
        position: absolute;
        background-color: #EFEFEF;
    }
    /*ボタンをtimerの幅に合わせて透明化、重なってる要素の最前列に来るように*/
    .timer button{
        width: 209px;
        height: 35px;
        background-color: transparent;
        position: absolute;
    }
    /*時間をdivタイマーの枠内に調整、ボタンが押せるように後ろに配置*/
    .time{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 209px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
    }
    /*タイマー設定のポップアップを画面の中央に*/
    #settings-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 999; /* 他の要素よりも手前に表示 */
        /* その他のスタイルを追加 */
      }
  .bord {
    width: 85vw;
    height: 90vh;
    flex-shrink: 0;
    background: #EFEFEF;
    position: absolute;
    left: 15vw;
    top: -33.5vh;
  }

  .memos{
    background-color: rgb(230, 255, 247);
    color:black;
    border: solid 1px;
  }