/*画面上部*/
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #000000;
    padding: 0 20px;
}
/*ログイン新規登録ボタンを黒枠黒文字で*/
.top a{
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

/*アプリロゴをもっと左にに寄せて大きさ65%ぐらいに*/
.top img{
    width: 65%;
    margin-left: -20px;
}
.banner {
    display: flex;
    flex-direction: column;
    width: 14%;
    height: 87vh;
    background-image: url("../page/img/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 2px solid #000000;
    padding-bottom: 20px; /* 下部の余白を追加 */
    position: relative; /* 親要素を相対的な位置に設定 */
}

.app-links {
    position: absolute;
    width: 100%; /* リンクの幅を100%に設定 */
    top: 30%; /* 上に配置するための位置調整 */
    transform: translateY(-50%); /* 上下中央に配置するための位置調整 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* リンクの間に均等なスペースを追加 */
    align-items: center; /* リンクを中央に配置 */
}
/*最初のリンクの上に線を追加*/
.app-links a:first-child {
    border-top: 1px solid #000000;
}
.app-links a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    /*文字を太く*/
    font-weight: bold;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #000000;
    width: 100%; /* リンクの横幅を100%に設定 */
    box-sizing: border-box; /* ボックスサイズをborder-boxに設定 */
}
/*画面下部、左の開始位置はバナーの右縦線から*/
.main {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: 87vh;
    padding: 20px;
    background-color: #fff;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: relative; /* 親要素を相対的な位置に設定 */
    left: -2px; /* 親要素から左に2pxずらす */
    top: -2px; /* 親要素から上に2pxずらす */
}