.logo {
    position: fixed;
    top: 10px;
    left: 0;
    user-select: none;
    z-index: 1;
  }
  
  .line1 {
    position: fixed;
    top: 48px;
    right: 4.5%;
    width: 135px;
    height: 1.5px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    transform: rotate(130deg);
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .line2 {
    position: fixed;
    top: 62px;
    right:4.3%;
    width: 100px;
    height: 1.5px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    transform: rotate(130deg);
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .line3 {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  /*新規登録の枠レイアウト*/
  .form-container {
      width: 50%;
      height: 70%;
      margin: 0 auto;
      position: absolute;
      top: 20%;
      left: 20%;
  
      border: black 2px solid;
      padding:10px;
  }
  
  h2 {
      font-family: 'Arial', sans-serif; /* フォントファミリーを指定 */
      font-size: 40px; /* フォントサイズを調整 */
      color: #333; /* テキストのカラーを指定 */
      text-align: center; /* テキストを中央寄せにする */
      margin-top: 20px; /* タイトルの上のマージンを追加 */
      letter-spacing: 2px; /* 文字間隔を調整 */
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); /* テキストに影を追加 */
  pointer-events:none;
  }
  
  /*テキストのブロック指定*/
  .form-container label {
      display: block;
      margin-top: 30px;
      font-size: 150%;
      position: relative;
      left: 8vw;
  }
  
  /*テキストボックスのレイアウト*/
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"]{
      width: 50%;
      padding: 5px;
  margin-top: 5px;
  font-size: 18px; /* フォントサイズを調整 */
      border: none; /* 上下左右のボーダーを消す */
      border-bottom: 1px solid black; /* 下線を設定 */
      position: relative;
      left: 20%;
      outline: none ;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus {
      outline: none; /* フォーカスリングを無効にする */
  }
  
  /* ログインボタンのスタイル */
  .form-container input[type="submit"] {
      margin-top: 10px;
      padding: 5px;
      width: auto;
      position: absolute;
      top: 100%;
      right: 5vw;
      background-color: transparent; /* 背景色を透明にする */
      border: none; /* ボーダーを削除 */
      font-family: 'Arial', sans-serif; /* フォントファミリーを指定 */
      font-size: 18px; /* フォントサイズを調整 */
      font-weight: bold; /* 太字に設定 */
      color: #333; /* テキストのカラーを指定 */
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
      cursor: pointer; /* カーソルをポインターに変更 */
      border-radius: 50%; /* ボーダーラジウスを50%に設定して楕円形に */
      transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
  }
  
  .form-container input[type="submit"]:hover {
      background-color: #0073e6; /* ホバー時の背景色を設定 */
      color: #fff; /* ホバー時のテキストカラーを設定 */
      border-radius: 50%; /* ホバー時に楕円形に変更 */
      transition: background-color 0.3s, color 0.3s; /* border-radiusのアニメーションを無効に */
  }
  
  /*テキストボックスの位置調整*/
  .regist{
      position: relative;
      top: 3vw;
  }
  
  /*手順画像の調整*/
  .tejun{
      width: 50%;
      height: auto;
      position: relative;
      left: 25%;
  }
  
  /*新規登録のリンク*/
  .signup{
      color: black;
      position: relative;
      top: 3vw;
      left: 2vw;
  }
  
  /* 新規登録リンクのスタイル */
  .signup a {
      text-decoration: none; /* 下線を削除 */
      color: #0073e6; /* リンクのテキストカラーを設定 */
      font-weight: bold; /* 太字に設定 */
      font-size: 16px; /* フォントサイズを調整 */
  }
  
  .signup a:hover {
      color: #005cbf; /* ホバー時のテキストカラーを設定 */
  }