.logo {
    position: fixed;
    top: 10px;
    left: 0;
    user-select: none;
    z-index: 1;
  }
  
  .Polygon{
    top: 30px;
  }
  
  .line1 {
    position: fixed;
    top: 48px;
    right: 4.5%;
    width: 135px;
    height: 1.5px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    transform: rotate(130deg);
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .line2 {
    position: fixed;
    top: 62px;
    right:4.3%;
    width: 100px;
    height: 1.5px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    transform: rotate(130deg);
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .line3 {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .sub {
  position: fixed;
  top: 110px;
  left: 220px;
  user-select: none;
  z-index: 1;
  }
  
  .page-title{
    text-align: center;
  }
  
  
  /*メイン枠レイアウト*/
  .form-container {
    position: fixed;
    width: 60%;
    height: 65%;
    margin: 0 auto;
    top: 13vw;
    left: 22vw;
    border: black 2px solid;
    padding:10px;
    overflow: hidden;
  }
  
  /*テキストのブロック指定*/
  .form-container label {
    display: block;
    margin-top: 30px;
    font-size: 150%;
    position: relative;
    left: 3vw;
  }
  
/*テキストのブロック指定*/
.form-container p {
  display: block;
  margin-top: 10px;
  font-size: 80%;
  position: relative;
  left: 3vw;
  user-select: none;
}

  /*テキストボックスのレイアウト*/
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"]{
    width: 50%;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px; /* フォントサイズを調整 */
    border: none;/* 上下左右のボーダーを消す */
    border-bottom: 1px solid black;/* 下線を設定 */
    position: relative;
    left: 3vw;
    outline: none ;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus {
    outline: none; /* フォーカスリングを無効にする */
  }
  
  /*登録ボタンのレイアウト*/
  .form-container input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 28vw; /*変更点*/
    right: 3vw;
    background-color: transparent; /* 背景色を透明にする */
    border: none; /* ボーダーを削除 */
    font-family: 'Arial', sans-serif; /* フォントファミリーを指定 */
    font-size: 18px; /* フォントサイズを調整 */
    font-weight: bold; /* 太字に設定 */
    color: #333; /* テキストのカラーを指定 */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
    cursor: pointer; /* カーソルをポインターに変更 */
    border-radius: 50%; /* ボーダーラジウスを50%に設定して楕円形に */
    transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
    
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0073e6; /* ホバー時の背景色を設定 */
    color: #fff; /* ホバー時のテキストカラーを設定 */
    border-radius: 50%; /* ホバー時に楕円形に変更 */
    transition: background-color 0.3s, color 0.3s; /* border-radiusのアニメーションを無効に */
  }
  
  /*バックボタンのレイアウト*/
  .form-container input[type="button"] {
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 28vw; /*変更点*/
    left: 3vw;
    background-color: transparent; /* 背景色を透明にする */
    border: none; /* ボーダーを削除 */
    font-family: 'Arial', sans-serif; /* フォントファミリーを指定 */
    font-size: 18px; /* フォントサイズを調整 */
    font-weight: bold; /* 太字に設定 */
    color: #333; /* テキストのカラーを指定 */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
    cursor: pointer; /* カーソルをポインターに変更 */
    border-radius: 50%; /* ボーダーラジウスを50%に設定して楕円形に */
    transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
    
  }
  
  .form-container input[type="button"]:hover {
    background-color: #0073e6; /* ホバー時の背景色を設定 */
    color: #fff; /* ホバー時のテキストカラーを設定 */
    border-radius: 50%; /* ホバー時に楕円形に変更 */
    transition: background-color 0.3s, color 0.3s; /* border-radiusのアニメーションを無効に */
  }

  .modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 2;
  }

  .modal-box{
    position: fixed;
    width: 35%;
    height: 20%;
    margin: 0 auto;
    top: 22vw;
    left: 33vw;
    background-color: #fff;
    border: black 2px solid;
    border-radius: 5px;
    padding:10px;
    overflow: hidden;
  }

  /*テキストのブロック指定*/
  .modal-box label {
    display: block;
    margin-top: 10px;
    font-size: 150%;
    position: relative;
    left: 7vw;
  }
  
  /*テキストのブロック指定*/
  .modal-box p {
    display: block;
    margin-top: 10px;
    font-size: 100%;
    position: relative;
    left: 11vw;
    user-select: none;
  }

  /*バックボタンのレイアウト*/
  .modal-box .back {
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 7vw; /*変更点*/
    left: 4vw;
    background-color: transparent; /* 背景色を透明にする */
    border: none; /* ボーダーを削除 */
    font-family: 'Arial', sans-serif; /* フォントファミリーを指定 */
    font-size: 18px; /* フォントサイズを調整 */
    font-weight: bold; /* 太字に設定 */
    color: #333; /* テキストのカラーを指定 */
    cursor: pointer; /* カーソルをポインターに変更 */
    border-radius: 50%; /* ボーダーラジウスを50%に設定して楕円形に */
    transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
    
  }
  
  .modal-box .back:hover {
    background-color: #0073e6; /* ホバー時の背景色を設定 */
    color: #fff; /* ホバー時のテキストカラーを設定 */
    border-radius: 50%; /* ホバー時に楕円形に変更 */
    transition: background-color 0.3s, color 0.3s; /* border-radiusのアニメーションを無効に */
  }

  /*削除ボタンのレイアウト*/
  .modal-box .next {
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 7vw; /*変更点*/
    left: 26vw;
    background-color: transparent; /* 背景色を透明にする */
    border: none; /* ボーダーを削除 */
    font-family: 'Arial', sans-serif; /* フォントファミリーを指定 */
    font-size: 18px; /* フォントサイズを調整 */
    font-weight: bold; /* 太字に設定 */
    color: #ff0000; /* テキストのカラーを指定 */
    cursor: pointer; /* カーソルをポインターに変更 */
    border-radius: 50%; /* ボーダーラジウスを50%に設定して楕円形に */
    transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
    
  }
  
  .modal-box .next:hover {
    background-color: #ff0000; /* ホバー時の背景色を設定 */
    color: #fff; /* ホバー時のテキストカラーを設定 */
    border-radius: 50%; /* ホバー時に楕円形に変更 */
    transition: background-color 0.3s, color 0.3s; /* border-radiusのアニメーションを無効に */
  }