.page_title {
    position: fixed;
    top: 120px;
    margin-left: 280px;
    font-size: 24px;
}
/*画面下部、左の開始位置はバナーの右縦線から*/
.main {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 87vh;
    padding: 20px;
    position: relative; /* 親要素を相対的な位置に設定 */
    top:100px;
    left:250px;
}
/* 四角で囲んだフォーム */
.form-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 100px;
}
  /* spanの文字サイズをh1ぐらいに */
.form-container span {
    font-size: 1.5em;
}
  /* formを中央揃え */
form {
    text-align: center;
}
  /* labelを左詰して、文字数を揃える */
label {
    display: inline-block;
    width: 100px;
    text-align: left;
    /*だいぶ周りと間隔をあける*/
    margin: 50px;
}
  /* ボタンの色を白にして、縁は黒、少し大きめに */
button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 auto;
}
.error_message{
    color: red;
}