/*ヘッダーの調整*/
.logo img{
    width: 15%;
    height: 15%;
}
.header img{
    width: 100%;
    height: 90%;
    position: relative;
    top: -9vw;
  }

/*新規登録の枠レイアウト*/
.form-container {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 20%;

    border: black 2px solid;
    padding:10px;
}

/*テキストのブロック指定*/
.form-container label {
    display: block;
    margin-top: 10px;
    font-size: 120%;
    position: relative;
    left: 8vw;
}

/*テキストボックスのレイアウト*/
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"]{
    width: 50%;
    padding: 5px;
    margin-top: 5px;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    position: relative;
    left: 20%;
}

/*登録ボタンのレイアウト*/
.form-container input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 100%;
    right: 5vw;
}

/*テキストボックスの位置調整*/
.regist{
    position: relative;
    top: 3vw;
}

/*手順画像の調整*/
.tejun{
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
}

/*新規登録のリンク*/
.signup{
    color: black;
    position: relative;
    top: 3vw;
    left: 2vw;
}

/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
    overflow: hidden;
      display: inline-block;
  }
  
  .slide-in_inner {
    display: inline-block;
  
  }
  
  /*左右のアニメーション*/
  .rightAnime{
      opacity: 0;/*事前に透過0にして消しておく*/
      border: solid 2px;
  }
  
  .slideAnimeLeftRight {
    animation-name:slideTextX100;
    animation-duration:1.2s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  @keyframes slideTextX100 {
    from {
    transform: translateX(-100%); /*要素を左の枠外に移動*/
          opacity: 0;
    }
  
    to {
    transform: translateX(0);/*要素を元の位置に移動*/
      opacity: 1;
    }
  }
  
  .slideAnimeRightLeft {
    animation-name:slideTextX-100;
    animation-duration:1.2s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  
  @keyframes slideTextX-100 {
    from {
    transform: translateX(100%);/*要素を右の枠外に移動*/
      opacity: 0;
    }
  
    to {
    transform: translateX(0);/*要素を元の位置に移動*/
      opacity: 1;
    }
  }