/*ヘッダーの調整*/
.logo img{
    width: 15%;
    height: 15%;
}
.header img{
    width: 100%;
    height: 90%;
    position: relative;
    top: -9vw;
  }

/*新規登録の枠レイアウト*/
.form-container {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 20%;

    border: black 2px solid;
    padding:10px;
}

/*テキストのブロック指定*/
.form-container label {
    display: block;
    margin-top: 10px;
    font-size: 120%;
    position: relative;
    left: 8vw;
}

/*テキストボックスのレイアウト*/
.form-container input[type="text"],
.form-container input[type="email"]{
    width: 50%;
    padding: 5px;
    margin-top: 5px;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    position: relative;
    left: 20%;
}

/*戻るボタンのレイアウト*/
.back{
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 100%;
    left: 5vw;
}

/*登録ボタンのレイアウト*/
.reg{
    margin-top: 10px;
    padding: 5px;
    width: auto;
    position: absolute;
    top: 100%;
    right: 5vw;
}

/*テキストボックスの位置調整*/
.regist{
    position: relative;
    top: 3vw;
}

/*手順画像の調整*/
.tejun{
    width: 50%;
    height: auto;
    position: relative;
    left: 20%;
}